* {
  box-sizing: border-box;
}

body {
  display: inline-block;
  font-family: Consolas, monospace;
}

table {
  border-collapse: collapse;
}

.container {
  font-size: 23px;
}

.TableHeader {
  padding: 5px 15px;
  text-align: left;
  border-bottom: 2px solid black;
  user-select: none;
}

.TableHeader:hover {
  background-color: rgb(230, 230, 230);
}

.TableHeader--filtered {
  background: rgba(0, 255, 0, 0.2);
}

.TableHeader--filtered:hover {
  background: rgba(0, 255, 0, 0.3);
}

.TableRow:last-child {
  border-top: 2px solid black;
}

.TableRow--filtered {
  display: none;
}

.TableElement {
  line-height: 1;
  text-align: left;
  padding: 5px 15px;
}

.TableElement:first-child {
  border-right: 2px solid black;
}

.TableElement--shadow {
  color: rgba(0, 0, 0, 0.25);
}
