body {
  display: inline-block;
  font-family: sans-serif;
}

.container {
  font-size: 25px;
}

.hhv-table {
  border-collapse: collapse;
}

.hhv-TableHeader {
  padding: 10px 10px;
  border-bottom: 1px solid black;
}
.hhv-TableHeader--filtered {
  background: rgba(0, 255, 0, 0.2);
}

.hhv-TableRow--filtered {
  display: none;
}

.hhv-TableElement {
  text-align: center;
  padding: 10px 10px;
  border-bottom: 1px solid black;
}
.hhv-TableElement--shadow {
  color: rgba(0, 0, 0, 0.25);
}

.hhv-TableElement--columnheader {
  border-right: 5px solid blue;
}
